{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:fp/recommended",
    "plugin:jest/all",
    "plugin:react/all",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "fp",
    "jest",
    "react",
    "react-hooks"
  ],
  "root": true,
  "rules": {
    "fp/no-mutation": ["error", {
      "commonjs": true
    }]
  }
}
