/**/*.egg-info
/**/*coverage*
/**/.mypy_cache
/**/.terraform
/**/__pycache__
/**/dist
/**/terraform.tfstate*
/.data
/.envrc
/**/poetry.lock
/client/node_modules
/client/package-lock.json
/sdk/README.md
/static
